BOT_TOKEN=8662569644:AAEs6eNTwDVYgavQwb5OOlMN4MJ-Fs1W2I8
MANAGER_ID=416416790
GEMINI_API_KEY=AIzaSyC3oOBK8XGGwbCA2gH7PgHgpKUoueTGpDY
DATABASE_URL=postgresql://postgres.yukzqvzyjsxpatayrtsr:+W@zTAF!6X6k$74@aws-1-eu-central-1.pooler.supabase.com:5432/postgres


